body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    padding-top: 0px;
}

.brand-logo > img {
    width: auto;
    height: 64px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.row .user-box {
    width: 15%;
    position: relative;
    margin: 1rem 0.6rem 1rem 0.6rem;
}

.bg-image {
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12),
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-position: center center;
}

.image-title {
    width: 100%;
    bottom: 0%;
    color: #fff;
    font-size: 1.5rem;
    padding: 12px 12px 12px 12px;
    position: absolute;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
}